<div class="container border-primary align-content-center">
    <h3 class=" text-center display-4">¡CREA TU EVENTO AQUÍ!</h3>
    <form>
        <div class="form-group row mt-5 ">
            <div class="col-4">
                <label>Título</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mt-1 ">
            <div class="col-4">
                <label>Descripción</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mt-1 ">
            <div class="col-4">
                <label>¡Escoge un color para tu Evento!</label>
                <div>
                    <input type="color">
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>